nav{
    background-color : #000;
    display: inline;
    color: fff;
}

main{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #0000ff;
}

body{
    background-color: #000;
    border: 1px solid #ff0000;
}

#dream{
    color: #00ff00;
    font-weight: 700;
}